.scroll-top-button-container {
    position: sticky;
    bottom: 1rem;
    left: 85%;
    width: 50px;
    z-index: 100;
}

.arrow {
    background-size: cover;
    width: 58px;
    height: 58px;
    margin: 1.5rem;
    cursor: pointer;
}
.scroll-to-top {
    background-color: var(--var-color_white);
    padding: 0.5rem;
    border-radius: 50%;
}

@media only screen and (max-width: 650px) {
    .scroll-top-button-container {
        left: 80%;
    }
}
@media only screen and (max-width: 376px) {
    .scroll-top-button-container {
        left: 75%;
    }
}
