/* _____________ Paper____________ */
/* .paper {
    height: 80vh;
} */

.paper-inner-container {
    margin: 1rem;
    position: relative;
}

figure {
    width: 100%;
}

figure img {
    display: block;
    height: 100vh;
    object-fit: scale-down;
    width: 100%;
}
figure h2 {
    color: var(--var-color_white);
}

figure::before {
    background-image: linear-gradient(to top right, #1a1a1a, transparent);
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
}
.paper-button {
    font-weight: bold;
    font-size: 3em;
    position: absolute;
    color: var(--var-color_white);
    border-radius: 50%;
    z-index: 100;
}
.paper-arrow {
    object-fit: scale-down;
    padding: 0.7rem;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.paper-section {
    position: absolute;
    top: -10rem;
    margin: 1rem;
    color: var(--var-color_white);
}
.paper-section p {
    margin-top: 1.5rem;
    font-size: 2rem;
}
@media screen {
    .paper {
        height: 80vh;
    }
}
