.main-section {
    min-height: 70vh;
    margin: auto;
    max-width: 1920px;
}
body::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

header {
    height: 200vh;
}

.container {
    z-index: 99;
    margin-top: 90px;
    /* hide fixed overflow contents */
    clip: rect(0, auto, auto, 0);

    /* does not work if overflow = visible */
    overflow: hidden;

    /* only works with absolute positioning */
    position: absolute;

    /* Make sure containers are full-width and height */
    height: 100vh;
    left: 0;
    width: 100%;
    /* safari hack */
    /* -webkit-mask-image: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%); */
    background-repeat: no-repeat;
}

.container_solid {
    background: white;
    /* position this container at the top of its parent element */
    top: 0;
}

.title_wrapper {
    position: fixed;
    display: block;
    margin: auto;
    width: 100%;
    /* center the text wrapper vertically */
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.title_wrapper h1 {
    display: block;
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
}

.container_solid .title_wrapper h1 {
    /* the text background */
    background-image: url(../../assets/milkMed.jpg);
    background-size: 100vw auto;
    background-position: center;

    /* clip the text is possible */
    -webkit-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    /* fallback text color */
    color: black;
}

.container_image {
    /* Grab a free image from unsplash */
    background-image: url(../../assets/milkMed.jpg);
    background-size: 100vw 100vh;
    background-position: center;
    background-attachment: fixed;
    /* position the second container below the first container */
    top: 100vh;
    object-fit: cover;
}

.container_image .title_wrapper h1 {
    color: black;
}
.scrollPortfolio {
    color: white !important;
}

@media only screen and (max-width: 650px) {
    .container_image {
        /* Grab a free image from unsplash */
        /* position the second container below the first container */
        background-image: url(../../assets/milkMed.jpg);
        object-fit: cover;
        min-height: 100vh !important;
    }
    .main-section {
        min-height: 100vh;
    }
}
@media only screen and (orientation: portrait) {
    .container_image {
        /* Grab a free image from unsplash */
        /* position the second container below the first container  */
        background-image: url(../../assets/milkyPortrait.jpg);
        object-fit: cover;
        min-height: 100vh !important;
    }
    .main-section {
        margin: auto;
    }
}
