:root {
    --var-color_one: #0ff;
    --var-color_two: #030303;
    --var-color_three: #ffffee;
    --var-color_gray: rgb(247, 247, 247);
    --var-color_footer: rgb(240, 240, 240);
    --var-color_green: rgb(2, 2, 43);
    --var-color_white: white;
    --var-color_black: black;
    --var-color_projectHeader: rgb(0, 64, 77);
    --var-color_darkgray: rgb(19, 19, 19);
    --var-color_link: gold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Heebo, Montserrat, Arial, Vollkorn, Helvetica, sans-serif;
    list-style: none;
    font-size: 16px;
    scroll-behavior: smooth;
}
/* ---------------  styling for custom scrollbar  ----------- */
/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px gray;
    border-radius: 10px;
    margin-bottom: 1rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: darkcyan;
}
/* ---------------  styling for custom scrollbar   end   ----------- */
.button {
    margin: 0.4rem auto;
    border: 3px solid black;
    background-color: transparent;
    text-decoration: none;
    width: 10rem;
    text-align: center;
    padding: 0.3rem;
    font-weight: 800;
    color: black;
    margin-bottom: 2rem;
    white-space: nowrap;
}
.button img {
    margin-left: 0.5rem;
    padding-left: 0.2rem;
    width: 16px;
    height: 16px;
    transform: rotate(90deg);
    object-fit: contain;
}

.main-header h1 {
    font-family: "Heebo", "Arial";
    font-size: 4rem;
    font-weight: 1000;
    line-height: 94%;
}
.main-header {
    width: 50%;
    margin-bottom: 2rem;
}

.send {
    z-index: 10;
}

.button:hover {
    color: var(--var-color_white);
    background-color: black;
}
.section {
    min-height: 50vh;
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.section-image {
    width: 50%;
    height: auto;
}

.section-inner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.section-article {
    background-color: var(--var-color_darkgray);
    color: var(--var-color_white);
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 2rem;
}
.qr-code-container {
    width: 100%;
    text-align: center;
}
.qr-code-container p {
    padding-bottom: 1rem;
    text-align: start;
}

.qr-code {
    width: 250px;
}

.link-linkedIn {
    color: yellow;
}
.link-mailto {
    color: goldenrod;
}
.link-CV {
    color: orange;
}
.link-github {
    color: pink;
}
@media only screen and (max-width: 1040px) {
    .section {
        height: auto;
        flex-direction: row;
        width: 100vw;
    }
    .section-image {
        width: 50vw;
    }
    .section-article {
        width: 50vw;
        padding: 2rem 3rem;
    }
}

@media only screen and (max-width: 650px) {
    .section {
        min-height: 100vh;
        flex-direction: column;
    }
    .section-image {
        width: 100vw;
    }
    .section-article {
        background-color: var(--var-color_white);
        color: var(--var-color_black);
        min-height: 100vh;
        width: 100vw;
        padding: 2rem 3rem;
    }
    .main-header h1 {
        font-family: "Heebo", "Arial";
        padding-top: 2rem;
        font-size: 3rem;
        font-weight: 1000;
        line-height: 94%;
    }
    .link-linkedIn {
        color: blue;
    }
    .link-mailto {
        color: red;
    }
    .link-CV {
        color: darkgreen;
    }
    .link-github {
        color: darkcyan;
    }
}
@media only screen and (max-width: 380px) {
    .qr-code {
        width: 220px;
    }
}
