.section-image-project {
    padding: 0 0 1rem 1rem;
    background-color: var(--var-color_darkgray);
}
.main-project-header {
    color: var(--var-color_white);
    background-color: var(--var-color_darkgray);
    width: 100%;
    height: 100%;
    padding: 0 2rem;
}
.main-project-header a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
}
.main-project-header button:hover {
    border: 3px solid white;
}
.main-project-article-wrapper {
    flex-direction: unset !important;
}
.section-main-my-projects-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: var(--var-color_darkgray);
    overflow-x: hidden;
    text-align: center;
}
.section-main-my-projects {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: scroll;
    flex-wrap: nowrap;
    scroll-snap-type: mandatory;
    scroll-snap-type: x mandatory;
}

.section-main-my-projects a {
    text-decoration: none;
    color: var(--var-color_black);
}
.project-short-inner-container {
    position: relative;
}
/* .section-image-project img {
    min-width: 50%;
    object-fit: contain;
} */

figure {
    width: 100%;
}

figure img {
    display: block;
    scroll-snap-align: start;
    height: 500px;
}

figure::before {
    background-image: linear-gradient(to top right, #1a1a1a, transparent);
    left: 0;
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
}

figcaption {
    padding: 2rem;
    position: absolute;
    bottom: 0.7em;
    color: white;
}
figcaption h4 {
    font-size: 2rem;
    text-align: start;
    line-height: 1.9rem;
}
.button-container {
    background-color: var(--var-color_darkgray);
    padding-left: 5rem;
    margin-bottom: -0.1rem;
}
.button-project-short {
    height: 3rem;
    padding: 0 2rem;
    width: auto;
    background-color: var(--var-color_white);
}
@media screen and (max-width: 1030px) {
    .section-image-project img {
        /* min-width: 50%; */
        object-fit: cover;
    }
    figure img {
        height: 30rem;
        width: 30rem;
    }

    figure::before {
        width: 30rem;
    }
}

@media only screen and (max-width: 849px) {
    .project-short-inner-container {
        width: 100vw;
        /* margin: 2rem 5.5rem; */
    }
    .section-main-my-projects-wrapper {
        overflow-x: hidden;
        text-align: center;
    }

    .main-project-header {
        padding: 3rem 2rem;
    }
    .section-main-my-projects {
        overflow-x: scroll;
        justify-content: unset;
        flex-wrap: nowrap;
    }
    .section-main-my-projects::-webkit-scrollbar {
        display: none;
    }
    .section-image-project img {
        object-fit: cover;
    }
    figure img {
        width: 28rem;
    }

    figure::before {
        width: 28rem;
    }
}
@media only screen and (max-width: 650px) {
    .main-project-header {
        width: 100vw;
        padding: 0;
        margin: 0;
    }

    .section-image-project {
        padding: 0;
        background-color: var(--var-color_darkgray);
    }

    .main-project-article-wrapper {
        flex-direction: column !important;
    }
    figure img {
        height: 100%;
        width: 24rem;
    }

    figure::before {
        width: 24rem;
    }
}
@media only screen and (max-width: 400px) {
    figure img {
        width: 22rem;
    }

    figure::before {
        width: 22rem;
    }
}
@media only screen and (max-width: 360px) {
    figure img {
        width: 21rem;
    }

    figure::before {
        width: 21rem;
    }
}
