.main-project-header {
    color: var(--var-color_white);
    padding: 3rem;
}

.section-main-my-projects-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    z-index: 3 !important;
    padding: 2rem;
    width: 100%;
    background-color: var(--var-color_green);
}
.section-main-my-projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 3 !important;
}
.project-short-inner-container {
    margin: 2.6rem;
    z-index: 3 !important;
    /* margin: 0 auto; */
    position: relative;
}
figure {
    width: 100%;
}

figure img {
    display: block;
    height: 300px;
    object-fit: cover;
    width: 300px;
    border-radius: 4px;
}

figure::before {
    background-image: linear-gradient(to top right, #1a1a1a, transparent);
    left: 0;
    content: "";
    height: 100%;
    position: absolute;
    width: 300px;
}

figcaption {
    padding: 2rem;
    position: absolute;
    bottom: 0.7em;
    color: #ffffff;
}
figcaption h4 {
    font-size: 2rem;
    text-align: start;
    line-height: 1.9rem;
}
.arrow-to-right {
    width: 30px;
    height: 30px;
    background-color: var(--var-color_white);
    padding: 0.1rem;
    border-radius: 50%;
    transform: rotate(90deg);
    text-align: end;
}

.section-main-my-projects a {
    text-decoration: none;
    color: var(--var-color_black);
}
.button-container {
    width: 100%;
    text-align: center;
    background-color: transparent;
    z-index: 1;
    margin-bottom: 3rem;
}
.button-project-short {
    margin: 1.5rem;
    cursor: pointer;
    background-color: var(--var-color_white);
}

@media only screen and (max-width: 849px) {
    .project-short-inner-container {
        width: 100vw;
        margin: 2rem 5.5rem;
    }
    .section-main-my-projects-wrapper {
        overflow-x: hidden;
        text-align: center;
    }
    .main-project-header {
        padding: 3rem 2rem;
    }
    .section-main-my-projects {
        overflow-x: scroll;
        justify-content: unset;
        flex-wrap: nowrap;
    }
    .project-short-inner-container {
        margin: 5rem 2rem;
    }
}
