.section-image-project img {
    object-fit: contain;
}

.projects-main-container {
    max-width: 98vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.projects-main-header h1 {
    font-family: "Heebo", "Arial";
    font-size: 4rem;
    font-weight: 1000;
    line-height: 94%;
    padding: 3rem;
    background-color: var(--var-color_white);
    color: var(--var-color_black);
}
.singleproject-inner-container {
    padding-bottom: 2rem;
}

.singleproject-main-container a {
    text-decoration: none;
    color: var(--var-color_black);
}

.singleproject-image {
    width: 19rem;
    object-fit: contain;
}
.singleproject-title {
    color: var(--var-color_black);
}

@media only screen and (max-width: 650px) {
    .projects-main-container {
        padding: 2rem 2rem;
        align-items: unset;
    }
    .projects-main-header h1 {
        padding: 2rem;
    }
    .projects-main-container {
        max-width: 98vw;
        display: flex;
        flex-direction: column;
    }
    .singleproject-main-container {
        margin: 0;
    }
    .singleproject-inner-container {
        display: flex;
        flex-direction: row;
        padding: 0;
    }
    .singleproject-image {
        width: 7rem;
        height: 9rem;
        object-fit: cover;
    }

    .singleproject-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 1rem;
    }

    .singleproject-title {
        font-family: "Heebo", "Arial";
        font-size: 1.5rem;
        font-weight: 900;
        line-height: 95%;
        color: var(--var-color_black);
    }

    .border-bottom {
        background-color: var(--var-color_white);
    }
}
